*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(49, 48, 45);
    display: flex;
    justify-content: center;
}
.container{
    background-color: bisque;
     width: 350px;
    margin-top: 80px;
    margin-bottom: 80px;
     padding: 25px ;
    border-radius: 20px;
}
.container img{
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.container h2{
    line-height: 1.1;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }
  .container p{
    line-height: 1.1;
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
}